<form id="contact-form" name="contactform">
  <h3 class="text-center" translate="contact.form.title"></h3>
  <div class="col-sm-6 col-sm-offset-3 no-gutter">

    <div class="form-group col-sm-8" ng-class="{'has-error': contactform.name.$invalid && contactform.name.$dirty}">
      <label for="contact-name" class="visuallyhidden" translate="form.name"></label>
      <input type="text" class="form-control" id="contact-name" name="name" ng-model="vm.name" ng-change="vm.error = ''" required translate translate-attr-placeholder="form.name">
    </div>
    
    <div class="form-group col-sm-8" ng-class="{'has-error': contactform.email.$invalid && contactform.email.$dirty}">
      <label for="contact-email" class="visuallyhidden" translate="form.email"></label>
      <input type="email" class="form-control" id="contact-email" name="email" ng-model="vm.email" ng-change="vm.error = ''" required email translate translate-attr-placeholder="form.email">
    </div>

    <div class="form-group col-sm-8" ng-class="{'has-error': contactform.subject.$invalid && contactform.subject.$dirty}">
      <label for="contact-subject" class="visuallyhidden" translate="form.subject"></label>
      <input type="text" class="form-control" id="contact-subject" name="subject" ng-model="vm.subject" ng-change="vm.error = ''" required translate translate-attr-placeholder="form.subject">
    </div>

    <div class="form-group col-sm-12">
      <textarea class="form-control" rows="5" ng-class="{'has-error': contactform.message.$invalid && contactform.message.$dirty}" name="message" ng-model="vm.message" ng-change="vm.error = ''" required translate translate-attr-placeholder="form.message"></textarea>
    </div>

    <!-- ERRORS -->
    <div class="form-group form-message error-message col-sm-12" role="alert" ng-show="vm.error || (contactform.$submitted && contactform.$invalid)">
      <div ng-show="vm.error">{{vm.error}}</div>
      <div ng-show="contactform.name.$error.required && contactform.name.$dirty" translate="form.name.error.required"></div>
      <div ng-show="contactform.email.$error.required && contactform.email.$dirty" translate="form.email.error.required"></div>
      <div ng-show="contactform.email.$error.email && contactform.email.$dirty" translate="form.email.error.email"></div>
      <div ng-show="contactform.subject.$error.required && contactform.subject.$dirty" translate="form.subject.error.required"></div>
      <div ng-show="contactform.message.$error.required && contactform.message.$dirty" translate="form.message.error.required"></div>
    </div>

    <div class="form-group col-sm-12">
      <button type="submit" class="btn btn-primary text-uppercase" ng-click="vm.sendForm(vm.email, vm.name, vm.subject, vm.message)" translate="form.submit"></button>
    </div>

  </div>
</form>