<uib-carousel interval="5000" no-wrap="false" class="center-block">
  <uib-slide>
    <img src="https://placeimg.com/1380/625/tech?q=1" class="img-responsive center-block">
    <div class="carousel-caption">
      <h3 translate="landing.carousel.title1"></h3>
      <p translate="landing.carousel.body1"></p>
    </div>
  </uib-slide>
  <uib-slide>
    <img src="https://placeimg.com/1380/625/tech?q=2" class="img-responsive center-block">
    <div class="carousel-caption">
      <h3 translate="landing.carousel.title2"></h3>
      <p translate="landing.carousel.body2"></p>
    </div>
  </uib-slide>
  <uib-slide>
    <img src="https://placeimg.com/1380/625/tech?q=3" class="img-responsive center-block">
    <div class="carousel-caption">
      <h3 translate="landing.carousel.title3"></h3>
      <p translate="landing.carousel.body3"></p>
    </div>
  </uib-slide>
</uib-carousel>
