// Set basic control properties
[class^="icon-"], [class*=" icon-"] {
  height: 24px;
  width: 24px;
  display: inline-block;
  fill: $text-color;
  vertical-align: middle;
  // Icon transparent
  &.transparent {
    @include opacity(.4);
  }
}

.icon-rotate-horizontal {
  @include scale(-1);
}

.icon-rotate-left {
  @include rotate(-90deg);
}
